:local(.drawer) {
  position: relative;
  width: 250px;
}

:local(.panel) {
  width: 250px;
  max-width: 250px;
  display: block;
  flex: 1;
  overflow-y: auto;
  a {
    text-decoration: none;
  }
}
